*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerNoticia{
    display: flex;
    padding: 20px 30px;
    border-bottom:1px solid #cccccc ;
}

.containerNoticia img{
    width: 30%;
}

.containerNoticia p{
    padding: 20px;
    width: 70%;
}