.home-completa {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-completa .overlap-wrapper {
  background-color: #ffffff;
  height: 5137px;
  overflow: hidden;
  width: 1440px;
}

.home-completa .overlap {
  height: 5727px;
  position: relative;
}

.home-completa .desktop {
  background-color: #fafafa;
  height: 5727px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home-completa .overlap-group {
  height: 712px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home-completa .rectangle {
  height: 636px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home-completa .XXXXXXXXXXXX {
  color: #675516;
  font-family: "Inter", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 185px;
}

.home-completa .text-wrapper {
  color: #675516;
  font-family: "Inter", Helvetica;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
}

.home-completa .span {
  font-size: 36px;
}

.home-completa .image {
  height: 61px;
  left: 1297px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 112px;
}

.home-completa .div {
  background-color: #8b4513c4;
  height: 49px;
  left: 264px;
  position: absolute;
  top: 25px;
  width: 985px;
}

.home-completa .rectangle-2 {
  background-color: #d9d9d9;
  height: 89px;
  left: 61px;
  position: absolute;
  top: 21px;
  width: 115px;
}

.home-completa .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 38px;
}

.home-completa .rectangle-3 {
  background-color: #2e8b57;
  height: 65px;
  left: 81px;
  position: absolute;
  top: 425px;
  width: 244px;
}

.home-completa .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 155px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 434px;
  width: 145px;
}

.home-completa .racao-para-animais {
  height: 153px;
  left: 1269px;
  object-fit: cover;
  position: absolute;
  top: 559px;
  width: 171px;
}

.home-completa .ellipse {
  height: 409px;
  left: 846px;
  position: absolute;
  top: 175px;
  width: 448px;
}

.home-completa .img {
  height: 505px;
  left: 821px;
  object-fit: cover;
  position: absolute;
  top: 73px;
  width: 489px;
}

.home-completa .line {
  height: 1px;
  left: 228px;
  object-fit: cover;
  position: absolute;
  top: 883px;
  width: 269px;
}

.home-completa .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 254px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 810px;
}

.home-completa .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 1204px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 831px;
}

.home-completa .contate-nos {
  background-color: #37c73c;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 371px;
  left: 93px;
  overflow: hidden;
  position: absolute;
  top: 1001px;
  width: 302px;
}

.home-completa .contate-nos-wrapper {
  background-color: #d3d3d3;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 371px;
  overflow: hidden;
}

.home-completa .contate-nos-2 {
  background-color: #d3d3d3;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 371px;
  width: 302px;
}

.home-completa .div-wrapper {
  background-color: #37c73c;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 371px;
  left: 432px;
  overflow: hidden;
  position: absolute;
  top: 1001px;
  width: 302px;
}

.home-completa .contate-nos-3 {
  background-color: #37c73c;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 371px;
  left: 771px;
  overflow: hidden;
  position: absolute;
  top: 1001px;
  width: 302px;
}

.home-completa .contate-nos-4 {
  background-color: #37c73c;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 371px;
  left: 1110px;
  overflow: hidden;
  position: absolute;
  top: 1001px;
  width: 302px;
}

.home-completa .contate-nos-5 {
  background-color: #d3d3d3;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 505px;
  left: 852px;
  overflow: hidden;
  position: absolute;
  top: 1765px;
  width: 502px;
}

.home-completa .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 152px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 207px;
}

.home-completa .overlap-2 {
  height: 758px;
  left: -13px;
  position: absolute;
  top: 1512px;
  width: 355px;
}

.home-completa .contate-nos-6 {
  background-color: #d3d3d3;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 505px;
  left: 129px;
  overflow: hidden;
  position: absolute;
  top: 253px;
  width: 226px;
}

.home-completa .text-wrapper-7 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 252px;
}

.home-completa .rectangle-4 {
  height: 371px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 249px;
}

.home-completa .seta-direita-de {
  height: 26px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 139px;
}

.home-completa .contate-nos-7 {
  background-color: #d3d3d3;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 166px;
  left: 630px;
  overflow: hidden;
  position: absolute;
  top: 2104px;
  width: 169px;
}

.home-completa .text-wrapper-8 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 82px;
}

.home-completa .contate-nos-8 {
  background-color: #d3d3d3;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 166px;
  left: 408px;
  overflow: hidden;
  position: absolute;
  top: 2104px;
  width: 169px;
}

.home-completa .text-wrapper-9 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 60px;
}

.home-completa .contate-nos-9 {
  background-color: #d3d3d3;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 269px;
  left: 395px;
  overflow: hidden;
  position: absolute;
  top: 1788px;
  width: 404px;
}

.home-completa .text-wrapper-10 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 112px;
}

.home-completa .seta-direita-de-2 {
  height: 26px;
  left: 1237px;
  object-fit: cover;
  position: absolute;
  top: 1525px;
  width: 139px;
}

.home-completa .seta-direita-de-3 {
  height: 26px;
  left: 1277px;
  object-fit: cover;
  position: absolute;
  top: 4674px;
  width: 139px;
}

.home-completa .image-2 {
  height: 713px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2597px;
  width: 1440px;
}

.home-completa .image-3 {
  height: 652px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 3375px;
  width: 1352px;
}

.home-completa .overlap-3 {
  background-image: url(../../../static/img/rectangle-14.svg);
  background-size: 100% 100%;
  height: 244px;
  left: 0;
  position: absolute;
  top: 4863px;
  width: 1440px;
}

.home-completa .text-wrapper-11 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 231px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 121px;
}

.home-completa .arrow {
  height: 242px;
  left: 0;
  position: absolute;
  top: 1244px;
  width: 1px;
}

.home-completa .arrow-2 {
  height: 122px;
  left: 1440px;
  position: absolute;
  top: 1250px;
  width: 1px;
}

.home-completa .contate-nos-10 {
  background-color: #d3d3d3;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 213px;
  left: 510px;
  position: absolute;
  top: 4396px;
  width: 419px;
}

.home-completa .contate-nos-11 {
  background-color: #d3d3d3;
  border-radius: 20px;
  box-shadow: -20px 20px 20px #00000040;
  height: 213px;
  left: 977px;
  position: absolute;
  top: 4396px;
  width: 419px;
}

.home-completa .section {
  height: 588px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 4691px;
  width: 1440px;
}

.home-completa .overlap-4 {
  height: 523px;
  position: relative;
  top: 66px;
}

.home-completa .footer-section {
  background-color: #173d24;
  height: 460px;
  left: 0;
  position: absolute;
  top: 63px;
  width: 1440px;
}

.home-completa .footer-info {
  height: 413px;
  left: 29px;
  position: relative;
  top: 23px;
  width: 1382px;
}

.home-completa .footer-info-south {
  height: 103px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 310px;
  width: 1382px;
}

.home-completa .line-2 {
  height: 1px;
  left: 433px;
  position: absolute;
  top: -4585px;
  width: 1271px;
}

.home-completa .div-all-rights {
  height: 43px;
  left: 281px;
  position: absolute;
  top: 30px;
  width: 820px;
}

.home-completa .p {
  color: #efefef;
  font-family: "Sintony", Helvetica;
  font-size: 17px;
  font-weight: 400;
  height: 22px;
  left: 59px;
  letter-spacing: 0.34px;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.home-completa .contact-us {
  height: 230px;
  left: 894px;
  overflow: hidden;
  position: absolute;
  top: 69px;
  width: 322px;
}

.home-completa .rectangle-5 {
  background-color: #ffffff;
  border-radius: 20px;
  height: 32px;
  left: 20px;
  position: absolute;
  top: 154px;
  width: 282px;
}

.home-completa .text-wrapper-12 {
  color: #ffffff;
  font-family: "Sintony", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 26px;
  left: 20px;
  letter-spacing: 0.4px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 52px;
}

.home-completa .icons {
  height: 70px;
  left: -3px;
  position: absolute;
  top: 79px;
  width: 327px;
}

.home-completa .text-wrapper-13 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 29px;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
}

.home-completa .text-wrapper-14 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 29px;
  left: 212px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
}

.home-completa .text-wrapper-15 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 29px;
  left: 133px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
}

.home-completa .links {
  height: 230px;
  left: 445px;
  position: absolute;
  top: 69px;
  width: 420px;
}

.home-completa .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 210px;
  left: 42px;
  position: absolute;
  top: 7px;
  width: 91px;
}

.home-completa .text {
  align-self: stretch;
  color: #ffffff;
  font-family: "Sintony", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: normal;
  position: relative;
}

.home-completa .text-wrapper-16 {
  color: #ffffff;
  font-family: "Sintony", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.home-completa .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 210px;
  left: 165px;
  position: absolute;
  top: 7px;
  width: 91px;
}

.home-completa .flexcontainer-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 210px;
  left: 288px;
  position: absolute;
  top: 7px;
  width: 91px;
}

.home-completa .about-us {
  height: 230px;
  left: 166px;
  position: absolute;
  top: 69px;
  width: 230px;
}

.home-completa .overlap-group-2 {
  height: 144px;
  left: 7px;
  position: relative;
  top: 33px;
  width: 216px;
}

.home-completa .lorem-ipsum-is {
  color: #ffffff;
  font-family: "Sintony", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 127px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 216px;
}

.home-completa .text-wrapper-17 {
  color: #ffffff;
  font-family: "Sintony", Helvetica;
  font-size: 17px;
  font-weight: 400;
  height: 22px;
  left: 70px;
  letter-spacing: 0.34px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.home-completa .footer-top {
  background-color: #266d3d;
  border-radius: 15px;
  height: 125px;
  left: 181px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1078px;
}

.home-completa .div-email {
  height: 73px;
  left: 406px;
  position: absolute;
  top: 27px;
  width: 282px;
}

.home-completa .email-icon {
  background-color: #ffffff;
  border-radius: 15px;
  height: 75px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 75px;
}

.home-completa .flexcontainer-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 47px;
  left: 91px;
  position: absolute;
  top: 11px;
  width: 171px;
}

.home-completa .div-phone {
  height: 76px;
  left: 81px;
  position: absolute;
  top: 24px;
  width: 224px;
}

.home-completa .phone-icon {
  background-color: #ffffff;
  border-radius: 15px;
  height: 75px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 75px;
}

.home-completa .flexcontainer-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 47px;
  left: 94px;
  position: absolute;
  top: 14px;
  width: 130px;
}

.home-completa .div-address {
  height: 76px;
  left: 769px;
  position: absolute;
  top: 24px;
  width: 171px;
}

.home-completa .local-icon {
  background-color: #ffffff;
  border-radius: 15px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 75px;
}

.home-completa .flexcontainer-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 47px;
  left: 91px;
  position: absolute;
  top: 9px;
  width: 80px;
}
